:root {
  --font-family: "Nunito", sans-serif;

  /* hg */
  --heading-hg-font-size: 96px;
  --heading-hg-line-height: 100%;
  --heading-hg-font-weight: 800;

  /* xl */
  --heading-xl-font-size: 48px;
  --heading-xl-line-height: 120%;
  --heading-xl-font-weight: 800;

  /* lg */
  --heading-lg-font-size: 32px;
  --heading-lg-line-height: 140%;
  --heading-lg-font-weight: 800;

  /* md */
  --heading-md-font-size: 20px;
  --heading-md-line-height: 140%;
  --heading-md-font-weight: 800;

  /* sm */
  --heading-sm-font-size: 16px;
  --heading-sm-line-height: 140%;
  --heading-sm-font-weight: 800;

  /* xs */
  --heading-xs-font-size: 14px;
  --heading-xs-line-height: 140%;
  --heading-xs-font-weight: 800;

  /* text-lg */
  --text-lg-font-size: 20px;
  --text-lg-line-height: 140%;
  --text-lg-font-weight: 400;

  /* text md */
  --text-md-font-size: 16px;
  --text-md-line-height: 140%;
  --text-md-font-weight: 400;

  /* text sm */
  --text-sm-font-size: 14px;
  --text-sm-line-height: 140%;
  --text-sm-font-weight: 400;

  /* text xs */
  --text-xs-font-size: 12px;
  --text-xs-line-height: 140%;
  --text-xs-font-weight: 400;

  /* color */
  --color-blue-light: #8fb2f5;
  --color-gray-900: #13131a;
  --color-gray-800: #16161f;
  --color-gray-700: #1c1c27;
  --color-gray-600: #22222f;
  --color-gray-500: #3b3b54;
  --color-gray-400: #7f7f98;
  --color-gray-300: #ababc4;
  --color-gray-200: #bfbfd4;
  --color-gray-100: #fafafa;
  --color-gray-white: #ffffff;
}
